html, body {
  cursor: crosshair;
  height: 100%;
  background-color: #333;
  margin: 0px;
  overscroll-behavior-x: none;
}

h2, p {
  color: white;
}

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  margin: 0 auto;
}